{% extends "base.html" %}

{% block content %}
<body class="d-flex h-100 text-center text-white flex-column" style="background-color: #4284f5; padding: 6em 0 0 0;">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
            <h1 class="display-1 fw-bold">TweetSourcing</h1>
            <h2 id="subheader">
            <span>
                <img class="ms-2 pb-1" src="{{ url_for('static', filename='img') }}/twitter.svg" alt="twitter-icon" width="32" height="32">
                Read
                <img class="ms-2 pb-1" src="{{ url_for('static', filename='img') }}/shield-check.svg" alt="shield-check" width="32" height="32">
                Verify
                <img class="ms-2 pb-1" src="{{ url_for('static', filename='img') }}/eyeglasses.svg" alt="glasses-icon" width="32" height="32">
                Evaluate
            </span>
            </h2>
            <form class="form" action="" method="post" id="form" role="form" style="margin-top: 6em;" novalidate>
                {{ form.hidden_tag() }}
                <label for="tweet_url"></label>
                    <input class="form-control-lg w-75" type="text" name="tweet_url" id="tweet_url" placeholder="Enter a tweet URL" required><br>
                    {% for error in form.tweet_url.errors %}
                    <div class="text-warning fs-5">
                        {{ error }}
                    </div>
                    {% endfor %}
                <input class="btn btn-light btn-lg fw-bold shadow-lg mt-3" id="submit" name="submit" type="submit" value="Find Sources">
            </form>
            <br>
            {# The embedded tweet doesn't work well with firefox tracking protection #}
            {% if tweet_embed %}  
                {{ tweet_embed|safe }}
            {% endif %}
            {% if query %}
                <div class="mt-4" id="generated">
                    <h5>Your generated keywords:</h5>
                    <form class="d-flex flex-column align-items-center justify-content-evenly mt-4 w-100" name="confirm_form" action="{{ url_for('main.search') }}" method="post" id="confirm_form" novalidate>
                        {{ confirm_form.hidden_tag() }}
                        <input class="form-control-lg w-50" type="text" name="query" id="query" required="" value="{{ query }}">
                        {% for error in confirm_form.query.errors %}
                        <div class="text-warning fs-5">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <h5 class="mt-3">Extra search terms (separated by "|")</h5>
                        <input class="form-control-lg w-75" type="text" name="or_terms" id="or_terms" required="" value="{{ or_terms }}">
                        {% for error in confirm_form.or_terms.errors %}
                        <div class="text-warning fs-5">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <p>Does this query look good? (Edit if needed)</p>
                        <div class="d-flex fs-4">
                            <input class="form-check-input" type="checkbox" name="img_search" id="img_search">
                            <label class="form-check-label" for="img_search">
                                Reverse Image search
                            </label>
                        </div>
                        <input class="btn btn-light fw-bold mt-3" name="submit" type="submit" value="Confirm"><br>
                    </form>
                </div>
            {% endif %}
            <div class="fs-5" id="learn-more">
                How does this work? 
                <a data-bs-toggle="collapse" href="#learnMore" role="button" aria-expanded="false" aria-controls="learnMore">
                    <img class="img-fluid" src="{{ url_for('static', filename='img') }}/chevron-down.svg" id="collapse-button" alt="collapse-button">
                </a>
            </div>
            <div class="collapse" id="learnMore">
                <div class="card card-body text-dark">
                    <div class="row align-items-start">
                        <div class="col col-md-4"><img src="{{ url_for('static', filename='img') }}/seo.svg" alt="search illustration"></div>
                        <div class="col-md text-start lh-lg">
                            <h5 class="fw-bold">Enter a Tweet URL and let the site do the work!</h5>
                            <ol>
                                <li>The Tweet text and images gets pulled from Twitter.</li>
                                <li>We attempt to extract the most important keywords from the text to construct a Google search.</li>
                                <li>Pull articles from the top results using our custom search engine of <a href="#">news soruces</a>.</li> 
                                <li>Keywords are extracted from the articles and compared to the tweet's keywords to give you the most relevant results.</li>
                            </ol>
                            <p>If there are images in the Tweet, you can select reverse image search to find other places that image may have been used.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row align-items-start">
                        <div class="col-md text-start">
                        <h5 class="fw-bold">Helping You Perform Due Diligence</h5>
                        <p>With how much information gets thrown at you on the internet, it can be easy to take it at face value or accidentally
                        spread false information. Unfortunately, you can never know if the people you follow verify the facts before tweeting
                        so it's up to you. This can be a lot of work, but is important to prevent the spread of misinformation and hopefully
                        this tool can help.
                        </p>
                        </div>
                        <div class="col col-md-4 lh-base">
                            <img src="{{ url_for('static', filename='img') }}/artificial intelligence.svg" alt="artificial intelligence.svg">
                        </div>
                    </div>
                </div>
            </div>
            </main>
        </div>
    <footer class="align-self-start text-dark ms-1" id="footer">
    Made by:
    <a class="text-dark" href="https://github.com/maybemaby"> 
    Brandon Ma <img class="pb-1" href="" src="{{ url_for('static', filename='img') }}/github.svg" alt="github-icon" width="24" height="24">
    </a>
    </footer>
</body>
{% endblock content %}
