{% extends "base.html" %}

{% block banner %}
<header class="banner">
    <h1 class="banner">TweetSourcing</h1>
    <h2 class="banner" id="subheader">Read | Check | Evaluate</h2>
</header>
{% endblock banner %}

{% block content %}
    <form class="form" action="" method="post" id="form" role="form" novalidate>
        {{ form.hidden_tag() }}
        <label for="tweet_url"></label>
        <input type="text" name="tweet_url" id="tweet_url" required=""><br>
        <input id="submit" name="submit" type="submit" value="Find Sources">
    </form>
    <br>
    {# The embedded tweet doesn't work well with firefox tracking protection #}
    {% if tweet_embed %}  
        {{ tweet_embed|safe }}
    {% endif %}
    {% if query %}
        Your generated query:
        <form class="confirm_form" action="{{ url_for('main.search') }}" method="post", id="confirm_form" novalidate">
            {{ confirm_form.hidden_tag() }}
        <input type="text" name="query" id="query" required="" value="{{ query }}">
            Does this query look good?
            {{ confirm_form.submit() }}
        </form>
    {% endif %}
{% endblock content %}