{% extends "base.html" %}

{% block banner %}
<header class="banner">
    <h1 class="banner">TweetSourcing</h1>
    <h2 class="banner" id="subheader">Read | Check | Evaluate</h2>
</header>
{% endblock banner %}

{% block content %}
    <form class="form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label for="tweet_url"></label>
        <input type="text" name="tweet_url" id="tweet_url"><br>
        <button type="submit" name="submit" id="submit">Search for sources</button>
    </form>
    <br>
    {# The embedded tweet doesn't work well with firefox tracking protection #}
    {% if tweet_embed %}  
        {{ tweet_embed|safe }}
    {% endif %}
    {% if query %}
        Your generated query: "{{ query }}"
    {% endif %}
{% endblock content %}